public/*.sql
public/*.gz
public/*.csv
public/fk20161215.sql
public/foodklub_16082022.sql
public/foodklub_20220526a.sql
public/pikal_20200608.sql.gz
public/table.csv
public/table1.csv
/public/*.sql
/public/*.gz
/public/*.csv
/public/fk20161215.sql
/public/foodklub_16082022.sql
/public/foodklub_20220526a.sql
/public/pikal_20200608.sql.gz
/public/table.csv
/public/table1.csv
/vendor
.env
auth.json
.DS_Store
composer.phar
php-errors.log
/bootstrap/compiled.php
*.log
.history
storage/framework/cache/
storage/cms/cache/
storage/cms/twig/
storage/logs/
/nbproject/
/storage/app/media/files/*
!/storage/app/media/files/.gitkeep

storage/cms/combiner/assets/
storage/temp/*
storage/framework/sessions/
storage/framework/*