/* Error messages */
.error {
    color: red;
}

.page404-wrapper {
    padding: 0 100px;
    width: 100%;
}
.block404 {
    padding: 180px 0;
    text-align: center;
}
.whoops {
    display: block;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 36px;
    text-transform: uppercase;
}
.big404 {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    font-family: "Idlewild SSm A","Idlewild SSm B";
    font-size: 100px;
    font-weight: bold;
    line-height: 150px;
    color: #00001;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.msg404 {
    font-size: 17px;
    letter-spacing: 1px;
    display: block;
}
.page-header {
    margin: 20px 0 !important;
    padding-bottom: 0 !important;
}

.h1, h1 {
    font-size: 30px !important;
}

.padding-zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.manual-decre-btn{
    top: 85px;
}
.manually-decre-itm-list{
    width: 100%;
    height:20px;
}



@media (max-width: 640px) {
    .manually-decre-itm-list{
        height:20px;
        margin-top: 10px;
    }
    .manually-decre-itm-list1{
        margin-top: 10px;
    }
    .page404-wrapper {
        padding: 30px 10px;
    }
    .manual-decre-btn{
        top: 10px;
        margin-left: 15px
    ;
    }
}
@media (max-width: 1024px) {
    .page404-wrapper {
        padding: 30px 70px;
    }
}

#ongoing_order_div .dataTable_wrapper{
    overflow-x: auto;
}

@media(min-width: 570px) {
    .level-class {
        width: 100% !important;
    }
}
@media (min-width: 0px) and (max-width: 570px) {
    .level-class{
        width: 75px !important;
    }

    .page404-wrapper {
        padding: 30px 10px;
    }

    h1.page-header-left {
        font-size: 20px !important;
        width: 60%;
    }
    .page-header-right {
        width: 40% !important;
    }

    .dataTable_wrapper{
        overflow-x: auto;
    }
}

.btn,.form-control,.panel,.modal-content {
    border-radius: 0px !important;
}

.dataTable_wrapper .btn {
    padding: 3px 6px !important;
}

input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
