.slimScrollBar {
	background: #00a3a7 none repeat scroll 0 0 !important;
	opacity: 1 !important;
}
.slimScrollRail {
	opacity: 0 !important;
	width: 5px !important;
}

html {
	height: 100% !important;
}
body {
	background-color: #f2f2f2;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
.page-header .list-page-breadcrumb {
	
	margin-top: 0px !important;
}
.select2-container .select2-selection--single, .select2-container .select2-selection--multiple {
	height: 39px;
}
form .control-label {
	text-align: left !important;
	margin-bottom: 0;
	padding-top: 7px;
	font-weight: bold;
}
#itemAttrForm .checkbox, #Outlet_form .checkbox, #menu_form .checkbox, #purchaseForm .checkbox, #locationForm .checkbox, #requestItem .checkbox, #bankForm .checkbox, #user_form .checkbox, #expense_form .checkbox, #printerForm .checkbox, #cancel_reason .checkbox, #coupon_form .checkbox, #accountSettingsForm .checkbox, #bindMenu .checkbox, #paymentOptionform .checkbox, #updateMasterSetting .checkbox, #account-settings .checkbox, #stock_level .checkbox {
	padding-top: 5px !important;
	padding-left: 40px !important;
}
#Outlet_form .radio, #category_form .radio #purchaseForm .radio, #menu_form .radio, #stock_remove_form .radio, #stock_add_form .radio, #requestItem .radio, #bankForm .radio, #user_form .radio, #expense_form .radio, #printerForm .radio, #cancel_reason .radio, #coupon_form .radio, #attendance .radio {
	padding-top: 0px !important;
	padding-left: 40px !important;
}
.btn-default {
	float: right;
}
label.error {
	color: red !important;
}
.btn {
	padding: 4px 12px;
}
.page-header {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.small-icon {
	font-size: 22px !important;
}
.ft-left {
	float: left;
	width: 100%;
}
#menus_div .nav-tabs, #outlet_div .nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
}
.bold {
	font-weight: bold;
}
.bold-center {
	font-weight: bold;
	text-align: center;
}
.center {
	text-align: center;
}
table th {
	font-weight: bold;
}

.modal .select2-container,#taxes .select2-container  {
	width: 100% !important;
}
.ui-datepicker {
	z-index: 1050 !important;
}
.btn-primary {
	background-color: #fff;
	border: 1px solid #8CC63E;
	color: #8CC63E;
	box-shadow: none;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus {
	background-color: #8CC63E;
	outline: medium none;
	color: #fff;
	border-color: #8CC63E;
}
.page-header h2 {
	margin-top: 5px;
	font-family: Roboto LT;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #00a3a7;
	color: white;
}
.material-form textarea:focus, .material-form textarea.form-control:focus, .material-form input.form-control:focus, .material-form input[type="text"]:focus, .material-form input[type="password"]:focus, .material-form input[type="email"]:focus, .material-form input[type="number"]:focus, .material-form .form-control[type="text"]:focus, .material-form .form-control[type="password"]:focus, .material-form .form-control[type="email"]:focus, .material-form .form-control[type="tel"]:focus, .material-form .form-control[contenteditable]:focus {
	box-shadow: 0 -2px 0 #00a3a7 inset;
}
.admin-bar .zmdi {
	color: #fff;
}
.left-branding .zmdi {
	color: #fff;
}
.leftbar.material-leftbar .list-accordion > li > a.acc-parent.active {
	background-color: rgba(0, 0, 0, 0.05);
	color: #00a3a7;
}
.leftbar.material-leftbar .list-accordion li ul li a:hover, .leftbar.material-leftbar .list-accordion li ul li a:focus {
	color: #00a3a7;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #00a3a7;
	border-color: #00a3a7;
	color: #ffffff;
	cursor: default;
	z-index: 2;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}
a {
	color: #8CC63E;
	text-decoration: none;
}
a:hover {
	color: #000;
}
.user-profile-container .admin-bar ul {
	margin: 0;
	padding: 0 0 0 15px;
	text-align: left;
}
.j-forms .checkbox i::after {
	border-bottom: medium solid #00a3a7;
	border-left: medium solid #00a3a7;
	border-width: 0 0 medium medium;
	content: "";
	height: 5px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	transform: rotate(-45deg);
	width: 10px;
}
.j-forms .radio input:checked + i, .j-forms .checkbox input:checked + i, .j-forms .radio-toggle input:checked + i, .j-forms .checkbox-toggle input:checked + i {
	border: 2px solid #00a3a7;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active.focus, .datepicker table tr td.active.focus:hover, .datepicker table tr td.active.disabled.focus, .datepicker table tr td.active.disabled.focus:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .open > .dropdown-toggle.datepicker table tr td.active, .open > .dropdown-toggle.datepicker table tr td.active:hover, .open > .dropdown-toggle.datepicker table tr td.active.disabled, .open > .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	background-color: #00a3a7;
	border-color: #00a3a7;
	color: #ffffff;
}
#Outlet_form .radio, #category_form .radio #purchaseForm .radio, #menu_form .radio, #stock_remove_form .radio, #stock_add_form .radio, #requestItem .radio, #bankForm .radio, #user_form .radio, #expense_form .radio, #printerForm .radio, #cancel_reason .radio, #coupon_form .radio, #attendance .radio {
	padding-left: 40px !important;
	padding-top: 5px !important;
}
.leftbar-view {
	padding-bottom: 0 !important;
}
.btn-primary:active {
	background-color: #8CC63E;
	background-image: radial-gradient(circle, #8CC63E 10%, #8CC63E 11%);
	background-repeat: no-repeat;
	background-size: 1000% auto;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	border-color: #8CC63E;
}
.row_pastdays {
	float: left;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}
.row_pastdays .label.label-success {
	background: #8CC63E none repeat scroll 0 0;
}

.row_pastdays a {
	padding: 4px 6px;
}
.btn-danger {
	background-color: #fff;
	border: 1px solid #b3b3b3 !important;
	box-shadow: none;
	color: #b3b3b3 !important;
}
.btn-danger:hover {
	background-color: #b3b3b3;
	border: 1px solid #b3b3b3 !important;
	color: #fff !important;
}
.btn-success {
	background-color: #fff !important;
	border: 1px solid #8CC63E !important;
	color: #8CC63E !important;
	box-shadow: none;
}
.btn-success:hover, .btn-success:active:hover, .btn-success:focus {
	background-color: #8CC63E !important;
	outline: medium none;
	color: #fff !important;
	border-color: #8CC63E !important;
}
.j-forms .radio i::after {
	background-color: #00a3a7;
}
.input-daterange input {
	background: #fff none repeat scroll 0 0 !important;
	box-shadow: none;
}
.input-daterange input {
	background: rgba(0, 0, 0, 0) url("/images/cal.png") no-repeat scroll right center !important;
}
.list-accordion .list-label {
	padding-left: 5px;
}
.input-daterange input:focus {
	border: 1px solid #ccc;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
	background-color: #00a3a7;
}
.material-tabs.nav-tabs > li.active > a, .material-tabs.nav-tabs > li.active > a:focus {
	border: medium none;
	box-shadow: 0 -2px 0 #00a3a7 inset;
	color: #00a3a7;
}
.material-tabs.nav-tabs > li > a:hover, .material-tabs.nav-tabs > li > a:focus:hover {
	background-color: transparent;
	box-shadow: 0 -2px 0 #00a3a7 inset;
	color: #00a3a7;
}
.tab-content {
	float: left;
	margin: 25px 0 0;
	width: 100%;
}
#cart_div {
	border: 1px solid #ccc !important;
}
.footable-last-column span {
	font-size: 16px;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: #8CC63E;
	border: 1px solid #8CC63E;
}
/***********New UI CSS***********/
.topbar .topbar-left {
	background-color: #00a3a7;
	padding: 0 6px;
	width: 250px;
}
.leftbar.material-leftbar .user-profile-container {
	background: url(/images/pattern.jpg);
	border-bottom: 1px solid #ddd;
}
.leftbar.material-leftbar .user-profile-container .user-profile .admin-user-info ul li a {
	color: #4f4d63;
	font-size: 14px;
	text-transform: capitalize;
}
.w_bg_teal, .w_bg_deep_purple, .w_bg_cyan, .w_bg_amber {
	background: rgba(0, 0, 0, 0) url("/images/pattern.jpg") repeat scroll 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
}
.w_bg_teal .panel-footer, .w_bg_deep_purple .panel-footer, .w_bg_cyan .panel-footer, .w_bg_amber .panel-footer {
	background: #fff none repeat scroll 0 0;
}
.w_bg_teal .panel-heading, .w_bg_deep_purple .panel-heading, .w_bg_cyan .panel-heading, .w_bg_amber .panel-heading {
	min-height: 135px;
}
.w_bg_teal .fa, .w_bg_deep_purple .fa, .w_bg_cyan .fa, .w_bg_amber .fa {
	color: rgba(79,77,99,0.5);
}
.user-profile-container .user-profile .admin-user-info {
	color: #aaaaaa;
	float: left;
	margin: 12px 0 0;
	padding: 15px;
	width: 100%;
}
#main_filter {
	border: medium none;
	box-shadow: none;
	padding-right: 20px;
	padding-top: 0;
	cursor: pointer;
	background-color: transparent;
	background-size: 18px auto;
	font-size: 14px;
	height: auto;
}
.admin-user-info a:hover {
	color: #4f4d63 !important;
	text-decoration: none !important;
}
.topbar a {
	color: #8CC63E;
	font-size: 11px;
	padding: 17px 10px 17px 15px;
}
.topbar a:hover {
	color: #8CC63E;
}
#rev_val, #rev_month_anc, #exp_val, #exp_month_anc, #ongoing_tbl_total {
	color: #444 !important;
	cursor: pointer;
}
.logo img {
	width: 120px;
}
.logo > a {
	float: left;
	padding: 0;
	width: 100%;
}
.topbar .topbar-left .logo {
	height: 60px;
	padding: 15px 0 0 20px;
}
.admin-user-thumb .zmdi {
	color: #00a3a7;
}
/*.footer-container {
	position: absolute;
	width: 100%;
	bottom: 0px;
}*/
th {
	font-family: 'Roboto Lt';
}
.footable-odd {
	background-color: rgba(249, 248, 230, 0.7);
}
.login-page {
	background: rgba(0, 0, 0, 0) url("/images/pattern.jpg") repeat scroll 0 0;
	margin-top: 0;
	padding-top: 0px;
	float: left;
	width: 100%;
	height: 100%;
}
.login-page {
	padding-bottom: 0px !important;
}
.login-form-content {
	float: left;
	margin: 15px 0 0;
	width: 100%;
}
.login-input .zmdi {
	padding-top: 14px;
}
.link {
	float: left;
	margin: 5px 0 0;
	width: 100%;
	text-align:right;
}
.link:hover{color: #00a3a7 !important;}
.login-form-header .logo > a {
	float: left;
	padding: 20px 0 10px 0;
	width: 100%;
}

.login-form-footer .btn-block{ border:1px solid #8CC63E; color:#ffffff; background:#8CC63E;}
.login-form-footer .btn-block:hover{ border:1px solid #8CC63E; color:#8CC63E; background:#fff;}


.login-input .login-frm-input {
  height: 45px;
  box-shadow:none;
}

.login-input .icon-left{ height:44px;}


.login-input .select2-selection {
  height: 45px;
  
}

.login-input .select2-selection__rendered{ line-height:44px;}
.login-input .zmdi {
  color: #00a3a7;
  
}

.login-form-content .unit {
  margin-bottom: 15px;
  position: relative;
}

.login-input .icon-left{ opacity:1;}

.footer-container a {
  color: #00a3a7;
}
.footer-left {
  text-align: center;
}
.error-code > div > span {
  color: #00a3a7;
}

.error-message h4 {
  color: #00a3a7;
  font-size: 32px;
  font-weight: 300;
}
.error-code {
  font-family: "Kranky",cursive;
  font-size: 150px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 70px;
}


.material-tabs.nav-tabs > li.active > a:hover, .material-tabs.nav-tabs > li.active > a:focus:hover {
  border: medium none;
  color: #00a3a7;
}

.slimScrollBarH{ background:#00a3a7 !important; opacity:1 !important;}


#next_date, #prev_date {
  margin: 0 !important;
  padding:5px 12px;
}
.order_filter .input-daterange {
  float: left;
  margin: 0 5px;
  width: 82%;
}




@media screen and (max-width: 1280px) {
#view-cart-div{ margin-left:0;}
.arrow-shadow {
  left: 56%;
  position: absolute;
  top: -22px;
}

}

@media screen and (max-width: 1024px) {
.widget-wrap {
  float: left;
  padding: 30px 20px;
  width: 100%;
}
#menus_div .slimScrollDiv {
  float: left;
  padding: 0;
  width: 100% !important;
}
#order_date {
  margin-bottom: 15px;
}
#cart_div {
  float: left;
  margin-top: 30px;
  width: 100%;
}
#cart_div .col-md-6 > h4 {
  float: left;
  width: 100%;
}
#menus_div {
  float: left;
  width: 100%;
}
.widget-wrap .widget-container {
  float: left;
  margin-top: 0;
  width: 100%;
}
}



 @media screen and (max-width: 414px) {
.page-header h2 {
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: center;
}
.setting-icon a {
	color: #fff;
}
.setting-icon {
	position: absolute;
	right: 0;
	top: 0;
}
.leftbar {
	top: 60px;
}
.page-header.full-block {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -70px;
}
.row_pastdays {
	float: left;
	margin-bottom: 15px;
	margin-top: -35px;
	text-align: center;
	width: 100%;
}
.widget-header.block-header {
	padding-left: 20px;
	padding-right: 20px;
}
.widget-wrap {
	padding: 30px 20px;
}
.footer-container {
	text-align: center;
}
.footer-container .footer-right {
	text-align: center;
}


.list-page-breadcrumb {
  display: inline-block;
  float: none !important;
  text-align: center !important;
  width: 100%;
}


.list-page-breadcrumb a {
  display: inline-block;
  float: none;
  text-align: center;
  white-space: normal;
}
}

.bill-option-item {
	padding:0px 5px 0px 25px;
	vertical-align:top;
	font-size:10px;
}
.bill-item-tax {
	padding:0px 5px 0px 5px;
	vertical-align:top;
	font-size:9px;
}
.bill-item {
	padding:0px 5px 0px 5px;
	vertical-align:top;
	font-size:12px;
}

#cart-item .input-group-btn button {
	padding-left: 5px;
	padding-right: 5px;
}
.rating-disabled .rating-input, .rating-disabled .rating-stars {
	cursor: pointer !important;
}
.rating-container .caption{
	margin-top: 0px!important;
}

.text-right{
	text-align: right;
}

:focus {
	outline: 0px !important;
}